<div class="row">
    <!-- Epics panel -->
    <resource-list-summary-panel
            panel-title="Epics"
            labels="{'0': 'No epic',
                     'one': '1 epic',
                     'other': '{} epics'}"
            collection="epics",
            width="6"/>

    <!-- Stories panel -->
    <resource-list-summary-panel
            panel-title="Stories"
            labels="{'0': 'No story',
                     'one': '1 story',
                     'other': '{} stories'}"
            collection="stories"
            width="6"/>
</div>
<div class="row">
    <!-- Tasks panel -->
    <resource-list-summary-panel
            panel-title="Tasks"
            labels="{'0': 'No task',
                     'one': '1 task',
                     'other': '{} tasks'}"
            collection="tasks"
            width="12"/>
</div>
